---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes";

/* ====== Your custom overrides below ====== */
.author__avatar img {
  max-width: 170px !important;
  width: 170px !important;
  height: 170px !important;
  border-radius: 50% !important;
  object-fit: cover;
}
